<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      </head>

<body>
    {% block content %}
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>major</th>
          <th>number</th>
          <th>crn</th>
          <th>name</th>
          <th>seats</th>
          <th>waitlist</th>
          <th>prerequisite</th>
          <th>type</th>
          <th>level</th>
          <th>campus</th>
          <th>credit</th>
          <th>time</th>
          <th>meeting days</th>
          <th>date</th>
          <th>Add</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr id={{loop.index}}>
            <td class="row-data">{{ course.major }}</td>
            <td class="row-data">{{ course.number }}</td>
            <td class="row-data">{{ course.crn }}</td>
            <td class="row-data">{{ course.name }}</td>
            <td class="row-data">{{ course.seats_avalible }}/{{course.total_seats}}</td>
            <td class="row-data">{{ course.wl_avalible }}/{{course.total_wl}}</td>
            <td class="row-data">{{ course.pre_requisite }}</td>
            <td class="row-data">{{ course.type }}</td>
            <td class="row-data">{{ course.level }}</td>
            <td class="row-data">{{ course.campus_name }}</td>
            <td class="row-data">{{ course.credit }}</td>
            <td class="row-data">{{ course.time_from }}-{{course.time_to}}</td>
            <td class="row-data">{{ course.days }}</td>
            <td class="row-data">{{ course.date }}</td>
            <td>
              <form method="POST" action="/register" class="navbar-brand text-light">
                <input id="crn" name="crn" type="hidden" value={{ course.crn }}>
                <input id="number" name="number" type="hidden" value={{ course.number }}>
                <button type="submit">Add</button>
              </form>
            </td>
          </tr>
          

        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
</body>
</html>